.dateTimelapse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0c0c0c;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft JhengHei Light", sans-serif;
  height: 45px;
  font-weight: 600;
}

.dateText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yearAnimation {
  animation: moveFromTop .015s linear infinite;
}

@keyframes moveFromTop {
  from {
    transform: translateY(-33%);
  }
  to {
    transform: translateY(33%);
  }
}
