.dateTimelapse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0c0c0c;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft JhengHei Light", sans-serif;
  height: 45px;
  font-weight: 600;
  padding-left: 40px;
}

.dateText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yearAnimation {
  animation: moveFromTop .015s linear infinite;
}

.orWhatItsLeft {
  opacity: 0;
  transition: opacity 3s;
  font-style: italic;
  font-size: 14px;
}

.showOrWhatItsLeft {
  opacity: 1;
}

@keyframes moveFromTop {
  from {
    transform: translateY(-33%);
  }
  to {
    transform: translateY(33%);
  }
}
