.debug {
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    z-index: 1000;
    height: fit-content;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-family: monospace;
    line-height: 1rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.debug > h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
}

.debug__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: center;
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
    pointer-events: all;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.debug__item:last-of-type {
    border-bottom: none;
}

.debug__item > h4 {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.debug__item > span {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.debug__item > button {
    padding: 0.15rem 1rem;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    pointer-events: all;
    transition: background 0.2s, border 0.2s, color 0.2s;
}

.debug__item > button:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 1);
    color: black;
}

.separator {
    border-right: 1px solid rgba(255, 255, 255, 1);
}
