.scenes {
    width: 100vw;
    height: 100vh;
}

.welcome {
    top: 33%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: all 1s ease;
}

.title, .subtitle {
    text-align: center;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Akira Expanded', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.title:hover {
    color: #b0e8ff;
    transform: scale(1.05);
}

.subtitle {
    font-family: 'Montserrat ExtraBold', sans-serif;
    pointer-events: none;
    line-height: 0.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    opacity: 0.6;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.showSidebarBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    filter: invert(100%);
    width: 3rem;
    height: 3rem;
}

.showSidebarBtn:hover {
    filter: invert(50%);
    transform: scale(1.2) rotate(180deg);
}

.offsetBtn {
    right: 602px;
    transform: rotate(180deg);
}

.rocketAnim {
    animation: rocket 2s ease-in-out forwards;
}

@keyframes rocket {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(5rem);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-60vh);
    }

}
