.scenes {
    width: 100vw;
    height: 100vh;
}

.welcome {
    top: 33%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: all 1s ease;
}

.title, .subtitle {
    text-align: center;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Akira Expanded', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.title:hover {
    color: #b0e8ff;
    transform: scale(1.05);
}

.subtitle {
    font-family: 'Montserrat ExtraBold', sans-serif;
    pointer-events: none;
    line-height: 0.5rem;
    font-weight: bold;
    font-size: 3rem;
    opacity: 0.6;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.hide {
    opacity: 0;
    pointer-events: none;
}
