@font-face {
  font-family: 'Montserrat Variable';
  src: url('../public/fonts/Montserrat-VariableFont.ttf');
}

@font-face {
  font-family: 'Horror';
  src: url('../public/fonts/Horror.ttf');
}

.show {
  opacity: 1 !important;
  top: 0 !important;
  pointer-events: none;
}

.beginCryo,
.landingMessage {
  position: absolute;
  z-index: 10000000000;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

.beginCryo {
  transition: opacity 10s ease-in-out;
}

.landingMessage {
  transition: opacity 10s ease-in-out;
}

.step1 {
  color: #c1e2ee;
  font-size: 1.5rem;
  font-family: "Montserrat Variable", sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  z-index: 10000000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.die {
  font-family: Horror, sans-serif;
  color: #f16c6c;
  font-style: italic;
}

.buttons {
  position: absolute;
  z-index: 10000000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
